<div
  class="rounded-sm border border-stroke bg-white px-5 pt-6 pb-2.5 shadow-default dark:border-strokedark dark:bg-boxdark sm:px-7.5 xl:pb-1">
  <div class="max-w-full overflow-x-auto">
    <table class="w-full table-auto">
      <thead>
        <tr class="bg-[#eff4fb] text-left dark:bg-meta-4 text-[#ffffff]">
          <th class="min-w-[150px] py-4 px-4 font-medium text-black dark:text-white">
            Nama
          </th>
          <th class="min-w-[120px] py-4 px-4 font-medium text-black dark:text-white">
            NIK/Nomor KTP
          </th>
          <th class="min-w-[220px] py-4 px-4 font-medium text-black dark:text-white xl:pl-11">
            Tempat Magang
          </th>
          <th class="min-w-[150px] py-4 px-4 font-medium text-black dark:text-white">
            Waktu Permohonan
          </th>
          <th class="min-w-[120px] py-4 px-4 font-medium text-black dark:text-white">
            Status
          </th>
          <!-- <th class="py-4 px-4 font-medium text-black dark:text-white">
            Informasi Detail
          </th> -->
        </tr>
      </thead>

      <tbody>
        <tr>
          <td class="border-b border-[#eee] py-5 px-4 pl-9 dark:border-strokedark xl:pl-11">
            <h5 class="font-medium text-black dark:text-white">Monkey D Luffy</h5>
          </td>
          <td class="border-b border-[#eee] py-5 px-4 dark:border-strokedark">
            <p class="text-black dark:text-white">332211445566</p>
          </td>
          <td class="border-b border-[#eee] py-5 px-4 pl-9 dark:border-strokedark xl:pl-11">
            <h5 class="font-medium text-black dark:text-white">Free Package</h5>
          </td>
          <td class="border-b border-[#eee] py-5 px-4 dark:border-strokedark">
            <p class="text-black dark:text-white">Jan 13,2023</p>
          </td>
          <td class="border-b border-[#eee] py-5 px-4 dark:border-strokedark">
            <p class="inline-flex rounded-full bg-success bg-opacity-10 py-1 px-3 text-sm font-medium text-success">
              Paid
            </p>
        </tr>

        <tr>
          <td class="border-b border-[#eee] py-5 px-4 pl-9 dark:border-strokedark xl:pl-11">
            <h5 class="font-medium text-black dark:text-white">Monkey D Luffy</h5>
          </td>
          <td class="border-b border-[#eee] py-5 px-4 dark:border-strokedark">
            <p class="text-black dark:text-white">332211445566</p>
          </td>
          <td class="border-b border-[#eee] py-5 px-4 pl-9 dark:border-strokedark xl:pl-11">
            <h5 class="font-medium text-black dark:text-white">
              Standard Package
            </h5>
          </td>
          <td class="border-b border-[#eee] py-5 px-4 dark:border-strokedark">
            <p class="text-black dark:text-white">Jan 13,2023</p>
          </td>
          <td class="border-b border-[#eee] py-5 px-4 dark:border-strokedark">
            <p class="inline-flex rounded-full bg-success bg-opacity-10 py-1 px-3 text-sm font-medium text-success">
              Paid
            </p>
          </td>
        </tr>

        <tr>
          <td class="border-b border-[#eee] py-5 px-4 pl-9 dark:border-strokedark xl:pl-11">
            <h5 class="font-medium text-black dark:text-white">Monkey D Luffy</h5>
          </td>
          <td class="border-b border-[#eee] py-5 px-4 dark:border-strokedark">
            <p class="text-black dark:text-white">332211445566</p>
          </td>
          <td class="border-b border-[#eee] py-5 px-4 pl-9 dark:border-strokedark xl:pl-11">
            <h5 class="font-medium text-black dark:text-white">
              Business Package
            </h5>
          </td>
          <td class="border-b border-[#eee] py-5 px-4 dark:border-strokedark">
            <p class="text-black dark:text-white">Jan 13,2023</p>
          </td>
          <td class="border-b border-[#eee] py-5 px-4 dark:border-strokedark">
            <p class="inline-flex rounded-full bg-danger bg-opacity-10 py-1 px-3 text-sm font-medium text-danger">
              Unpaid
            </p>
          </td>
        </tr>

        <tr>
          <td class="border-b border-[#eee] py-5 px-4 pl-9 dark:border-strokedark xl:pl-11">
            <h5 class="font-medium text-black dark:text-white">Monkey D Luffy</h5>
          </td>
          <td class="border-b border-[#eee] py-5 px-4 dark:border-strokedark">
            <p class="text-black dark:text-white">332211445566</p>
          </td>
          <td class="py-5 px-4 pl-9 xl:pl-11">
            <h5 class="font-medium text-black dark:text-white">
              Standard Package
            </h5>
          </td>
          <td class="py-5 px-4">
            <p class="text-black dark:text-white">Jan 13,2023</p>
          </td>
          <td class="py-5 px-4">
            <p class="inline-flex rounded-full bg-warning bg-opacity-10 py-1 px-3 text-sm font-medium text-warning">
              Pending
            </p>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>